.container{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.container form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.container form input{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.container form textarea{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    /* color del placeholder */
    color: white;
}
/* input type submit */
.container form input[type="submit"]{
    width: 50%;
    padding: 0px 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}