
.navbar {
  background-color: #aaaaaa;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 10px;
  z-index: 100;

}

.navbar__brand-logo {
  width: 100px;
  border-radius: 50%;
}

.navbar ul {
  /* margin-right: 100px; */
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.navbar li a {
  color : black;
  font-size: x-large;
  font-weight: 500;
  text-decoration: none;
}
