.proyect {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  transition: all 0.5s ease;
  /* height: 50 */
  /* height: 350px; */
}
.proyect img {
  width: 70%;
  aspect-ratio: 16/9;
  /* height: 100%; */
  /* height: 330px; */
  max-height: 350px;
  object-fit: cover;
  object-fit: contain;
  border-radius: 10px;
}
.proyect .proyect__info {
  padding: 0 15px;
  /* background-color: red; */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: start;
}


.proyect .proyect__info .proyect__info-subtitle {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
